@use '../base/mixins' as m;

.grid-cards {
  display: grid;
  grid-template-columns: repeat(8, 250px);
  gap: 30px;
  padding: 3px;

  @include m.scrollHorizontal;

  @include m.desktop {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.promotions {
  background-image: url(src/assets/img/promotions.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    background-color: #000000de;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: default;

    @include m.tablet {
      font-size: 30px;
    }

    @include m.desktop {
      font-size: 40px;
    }
  }
}
